body {
    margin: 0;
    background-color: rgb(44, 61, 78);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    color: rgb(195, 207, 224);
    font-family: sans-serif;
}

[href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"] {
    display: none;
}